.jumbotron{
	height: 92vh;
	background-image: url("img/mracni-gradijent.png");
}
.jumbotron-fluid{
	height: 92vh;
	background-image: url("img/mracni-gradijent.png");
}
p{
	color: white;
}
h1{
	color: white;
}
.form-control {
    background-color: #d8d8d8;
}
option {
    background-color: #d8d8d8;
}